.menu {
    font-family: sans-serif;
  }
  
  .menu-item {
    border-bottom: 1px solid #ddd;
  }
  
  .menu-item {
    display: block;
    padding: .7rem 15px;  
    color: inherit;
    text-decoration: none;
  }
  
  .menu-item :hover {
    color: inherit;
    text-decoration: none;
    background-color: #eee;
    cursor: pointer;
  }
  
  .menu-item :focus {
    text-decoration: none;
  }
  
  .menu-item :visited {
    color: inherit; 
  }
  
  .active-menu-item {
    background-color: #e8e8f9;
  }
  
  .hint {
    padding: .5rem 5px;
  }

  .burger-container {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }